@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
  box-sizing: border-box;
}

.card:hover img {
  background-color: #424242;
  border-radius: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}


.h-screen-68 {
  height: 68vh;
}